{% extends '::base.html.twig' %}

{% block content %}
    <div class="col-md-4">
        {{ form_start(edit_form) }}
        <div class="span8 form-button">
            <input type="submit" class="btn btn-primary"
                   value="{{ 'issue.page.update'|trans }}"/>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
