{% extends '::base.html.twig' %}
{% import "AppBundle::macros.html.twig" as CI %}

{% block content %}
    {{ CI.listOpenedReaopenedIssue(entities) }}
    <p>
        <a class="btn btn-primary" href="{{ path('issue_new') }}">
            {{ "issue.page.create"|trans }}
        </a>
    </p>
{% endblock %}
